<h1 class="mat-h1 titulo-funcionalidade">Cadastros</h1>
<div fxLayout="row">
  <div fxFlex>
    <mat-card>
      <mat-card-header>
      </mat-card-header>
      <mat-card-content class="dashboard-card-content">
        <div fxLayout="row">
          <div fxFlex>
            <a mat-button routerLink="/lista-membros">
              <mat-icon aria-hidden="false" aria-label="Cadastro de membros">people</mat-icon>
              Membros
            </a>
          </div>
          <div fxFlex>
            <a mat-button routerLink="/lista-membros">
              <mat-icon aria-hidden="false" aria-label="Cadastro de membros">people</mat-icon>
              Membros
            </a>
          </div>
          <div fxFlex>
            <a mat-button routerLink="/lista-membros">
              <mat-icon aria-hidden="false" aria-label="Cadastro de membros">people</mat-icon>
              Membros
            </a>
          </div>
          <div fxFlex>
            <a mat-button routerLink="/lista-membros">
              <mat-icon aria-hidden="false" aria-label="Cadastro de membros">people</mat-icon>
              Membros
            </a>
          </div>
        </div>
        <div fxLayout="row">
          <div fxFlex>
            <a mat-button routerLink="/lista-membros">
              <mat-icon aria-hidden="false" aria-label="Cadastro de membros">people</mat-icon>
              Membros
            </a>
          </div>
          <div fxFlex>
            <a mat-button routerLink="/lista-membros">
              <mat-icon aria-hidden="false" aria-label="Cadastro de membros">people</mat-icon>
              Membros
            </a>
          </div>
          <div fxFlex>
            <a mat-button routerLink="/lista-membros">
              <mat-icon aria-hidden="false" aria-label="Cadastro de membros">people</mat-icon>
              Membros
            </a>
          </div>
          <div fxFlex>
            <a mat-button routerLink="/lista-membros">
              <mat-icon aria-hidden="false" aria-label="Cadastro de membros">people</mat-icon>
              Membros
            </a>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>